* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes circle {
  0% {
    opacity: 0.3;
    -webkit-transform: translate(0, 0) scale(0);
            transform: translate(0, 0) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(20);
            transform: translate(0, 0) scale(20);
  }
}

@keyframes circle {
  0% {
    opacity: 0.3;
    -webkit-transform: translate(0, 0) scale(0);
            transform: translate(0, 0) scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(20);
            transform: translate(0, 0) scale(20);
  }
}

@-webkit-keyframes title {
  0% {
    color: transparent;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  100% {
    color: white;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
}

@keyframes title {
  0% {
    color: transparent;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  100% {
    color: white;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
}

.box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.box .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #DB6E18;
  -webkit-animation-name: circle;
          animation-name: circle;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.text .title {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
  -webkit-animation-name: title;
          animation-name: title;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
